html {
  height: 100%;
}

/*title style*/
h1 {
  margin: 1%;
  margin-top: 3%;
  padding: 1%;
  font-size: 72px;
  font-family: "Arial", Helvetica, sans-serif;
  background: -webkit-linear-gradient(0deg, #aaffa1, #ffffff);
  background-size: 60%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Background gradient*/
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-linear-gradient(#2e2e2e, #1c1c1c);
}

a:link {
			background: -webkit-linear-gradient(#8fffb2, #ffffff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-decoration: none;
			}

a:visited {
			background: -webkit-linear-gradient(#8fffb2, #ffffff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-decoration: none;
			}

a:hover {
			background: -webkit-linear-gradient(#8fffb2, #ffffff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-decoration: underline;
			}

a:active {
			background: -webkit-linear-gradient(#8fffb2, #ffffff);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-decoration: underline;
			}

p1	{
		width: 100%;
		padding: 10px;
}
